# /bin/
/bin/cpc.asm.exe

# /runtime/
/runtime/threadpool
/runtime/*.[oa]

# /samples/
/samples/*.o
/samples/*.cpc
/samples/ampersand
/samples/barrier
/samples/boxing
/samples/bug
/samples/conditions
/samples/conditions-torture
/samples/detached-spawn
/samples/detached-torture
/samples/done
/samples/loops
/samples/nontailcall
/samples/padding
/samples/patch
/samples/pointer
/samples/sleep
/samples/sleep-torture
/samples/sleep_cond
/samples/tcat
/samples/tcat_fd
/samples/trivial-httpd

# /bench/
/bench/*.o
/bench/b1
/bench/b2
/bench/b2-aligned-cpc
/bench/b2-cpc
/bench/b2-indirect
/bench/b2-manual-return
/bench/b2-manual-return-cpc
/bench/b2-misaligned-cpc
/bench/b3-cpc
/bench/b3-nptl
/bench/b3-pth
/bench/b3-st
/bench/b4-cpc
/bench/b4-nptl
/bench/b4-pth
/bench/b4-st
/bench/b5-cpc
/bench/b5-nptl
/bench/b5-pth
/bench/b5-st
/bench/b6-4kb-st
/bench/b6-cpc
/bench/b6-nptl
/bench/b6-pth
/bench/b6-st
